@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont_navbar{
    width: 100%;
    background-color: #94bbe9;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-family: "Libre Baskerville", sans-serif;

    padding-top: .5rem;
    padding-bottom: .5rem;
}

.titulo{
    text-align: center;
}

.menu_click{
    cursor: pointer;
    font-size: 1rem;
    color: black;
    transition: .5s ease-in-out;
}

.menu_nav{
    z-index: -1;
    position: absolute;
    top: -10rem;

    background-color: grey;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transition: .5s ease-in-out;
}

.op_nav{
    cursor: pointer;
}

.bajar_menu_nav{
    top: 4.7rem;
}

.menu_active{
    color: brown;
}

.section_prods{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.cont_ul_prods{
    width: 60%;
}

.ul_prods{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cont_img_card{
    display: flex;
    justify-content: center;
}

.img_card{
    width: 80%;
}

.card_prod{
    cursor: pointer;
    width: 97%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-radius: 1rem;
    
    font-family: "Comic Neue", sans-serif;

    transition: .5s ease-in-out;

}

.card_prod:hover{
    border: 1px rgba(165, 42, 42, 0.1) solid;
    border-radius: 1rem;
    box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8), -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.titulo_card{
    text-align: center;
    font-size: 1.2rem;
}

.precio_card{
    text-align: center;
    color: brown;
    font-weight: 700;
    font-size: 1.4rem;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-family: Arial, Helvetica, sans-serif;
}










