.sombras{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.sombras:hover{
    transform: scale(1.022);
    transition-duration: 800ms;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.colorbg{
    background-color: #9032bb;
}

.colorbgsection{
    background-color: #af69cd;
}